<nav>
    <ul>
        <li><a href="/main/medication">Medication List</a></li>
        <li><a href="#">Category</a></li>
        <li><a href="#">Add Category</a></li>
        <li><a href="#">Delete Category</a></li>

    </ul>
</nav>