<div id="medications-container"></div>
<button id="addBtn" class="hidden">Add Medication</button>

<% if (user) { %>
  <p>Welcome, <%= user.displayName || user.name || 'User' %>!</p>
<% } else { %>
  <p>You are not logged in.</p>
<% } %>



  